<%- include('partials/head') %>
<%- include('partials/navbar') %>
    
    <h1>Your random number is: <%= temp %>
    </h1><% if(temp%2===0){ %>
    <h2>That is an even number !</h2>
    <% } else { %> <h2>That is an odd number !</h2><% } %>
    
    <h3>This number is : <%= temp%2==0 ? 'Even' : 'Odd' %> </h3>

<%- include('partials/footer') %>